<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.usermanage.dao.GroupUserEODao" >
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.adc.da.usermanage.entity.GroupUserEO" >
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="mobilephone" property="mobilephone" />
        <result column="email" property="email" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="photo" property="photo" />
        <result column="real_name" property="realName" />
        <result column="sex" property="sex" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="created_person" property="createdPerson" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_person" property="updatedPerson" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- ts_group_user table all fields -->
    <sql id="Base_Column_List" >
        id, user_name, password, mobilephone, email, type, status, photo, real_name, sex, description, created_at, created_person, updated_at, updated_person, del_flag
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        where 1=1
        <trim suffixOverrides="," >
            <if test="id != null" >
                and id ${idOperator} #{id}
            </if>
            <if test="userName != null" >
                and user_name ${realNameOperator} #{userName}
            </if>
            <if test="password != null" >
                and password ${passwordOperator} #{password}
            </if>
            <if test="mobilephone != null" >
                and mobilephone ${mobilephoneOperator} #{mobilephone}
            </if>
            <if test="email != null" >
                and email ${emailOperator} #{email}
            </if>
            <if test="type != null" >
                and type ${typeOperator} #{type}
            </if>
            <if test="status != null" >
                and status ${statusOperator} #{status}
            </if>
            <if test="photo != null" >
                and photo ${photoOperator} #{photo}
            </if>
            <if test="realName != null" >
                and real_name ${realNameOperator} #{realName}
            </if>
            <if test="sex != null" >
                and sex ${sexOperator} #{sex}
            </if>
            <if test="description != null" >
                and description ${descriptionOperator} #{description}
            </if>
            <if test="createdAt != null" >
                and created_at ${createdAtOperator} #{createdAt}
            </if>
            <if test="createdAt1 != null" >
                and created_at &gt;= #{createdAt1}
            </if>
            <if test="createdAt2 != null" >
                and created_at &lt;= #{createdAt2}
            </if>
            <if test="createdPerson != null" >
                and created_person ${createdPersonOperator} #{createdPerson}
            </if>
            <if test="updatedAt != null" >
                and updated_at ${updatedAtOperator} #{updatedAt}
            </if>
            <if test="updatedAt1 != null" >
                and updated_at &gt;= #{updatedAt1}
            </if>
            <if test="updatedAt2 != null" >
                and updated_at &lt;= #{updatedAt2}
            </if>
            <if test="updatedPerson != null" >
                and updated_person ${updatedPersonOperator} #{updatedPerson}
            </if>
            <if test="delFlag != null" >
                and del_flag ${delFlagOperator} #{delFlag}
            </if>
        </trim>
    </sql>

    <!-- 模糊查询条件 -->
    <sql id="Base_Where_Like_Clause">
        where 1=1
        <trim suffixOverrides="," >
            <if test="userName != null" >
                and user_name like CONCAT('%',#{userName},'%')
            </if>
            <if test="status != null" >
                and status ${statusOperator} #{status}
            </if>
            <if test="realName != null" >
                and real_name like CONCAT('%',#{realName},'%')
            </if>
            <if test="delFlag != null" >
                and del_flag ${delFlagOperator} #{delFlag}
            </if>
        </trim>
    </sql>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="com.adc.da.usermanage.entity.GroupUserEO" >
    <!-- <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
    SELECT SEQ_ts_group_user.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into ts_group_user
        (<include refid="Base_Column_List" />)
        values (#{id, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{mobilephone, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{type, jdbcType=VARCHAR}, #{status, jdbcType=VARCHAR}, #{photo, jdbcType=VARCHAR}, #{realName, jdbcType=VARCHAR}, #{sex, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, #{createdAt, jdbcType=TIMESTAMP}, #{createdPerson, jdbcType=VARCHAR}, #{updatedAt, jdbcType=TIMESTAMP}, #{updatedPerson, jdbcType=VARCHAR}, #{delFlag, jdbcType=VARCHAR})
    </insert>

    <!-- 动态插入记录 主键是序列 -->
    <insert id="insertSelective" parameterType="com.adc.da.usermanage.entity.GroupUserEO" >
    <!-- <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
    SELECT SEQ_ts_group_user.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into ts_group_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >id,</if>
            <if test="userName != null" >user_name,</if>
            <if test="password != null" >password,</if>
            <if test="mobilephone != null" >mobilephone,</if>
            <if test="email != null" >email,</if>
            <if test="type != null" >type,</if>
            <if test="status != null" >status,</if>
            <if test="photo != null" >photo,</if>
            <if test="realName != null" >real_name,</if>
            <if test="sex != null" >sex,</if>
            <if test="description != null" >description,</if>
            <if test="createdAt != null" >created_at,</if>
            <if test="createdPerson != null" >created_person,</if>
            <if test="updatedAt != null" >updated_at,</if>
            <if test="updatedPerson != null" >updated_person,</if>
            <if test="delFlag != null" >del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >#{id, jdbcType=VARCHAR},</if>
            <if test="userName != null" >#{userName, jdbcType=VARCHAR},</if>
            <if test="password != null" >#{password, jdbcType=VARCHAR},</if>
            <if test="mobilephone != null" >#{mobilephone, jdbcType=VARCHAR},</if>
            <if test="email != null" >#{email, jdbcType=VARCHAR},</if>
            <if test="type != null" >#{type, jdbcType=VARCHAR},</if>
            <if test="status != null" >#{status, jdbcType=VARCHAR},</if>
            <if test="photo != null" >#{photo, jdbcType=VARCHAR},</if>
            <if test="realName != null" >#{realName, jdbcType=VARCHAR},</if>
            <if test="sex != null" >#{sex, jdbcType=VARCHAR},</if>
            <if test="description != null" >#{description, jdbcType=VARCHAR},</if>
            <if test="createdAt != null" >#{createdAt, jdbcType=TIMESTAMP},</if>
            <if test="createdPerson != null" >#{createdPerson, jdbcType=VARCHAR},</if>
            <if test="updatedAt != null" >#{updatedAt, jdbcType=TIMESTAMP},</if>
            <if test="updatedPerson != null" >#{updatedPerson, jdbcType=VARCHAR},</if>
            <if test="delFlag != null" >#{delFlag, jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 根据pk，修改记录-->
    <update id="updateByPrimaryKey" parameterType="com.adc.da.usermanage.entity.GroupUserEO" >
        update ts_group_user
        set  user_name = #{userName},
          password = #{password},
          mobilephone = #{mobilephone},
          email = #{email},
          type = #{type},
          status = #{status},
          photo = #{photo},
          real_name = #{realName},
          sex = #{sex},
          description = #{description},
          created_at = #{createdAt},
          created_person = #{createdPerson},
          updated_at = #{updatedAt},
          updated_person = #{updatedPerson},
          del_flag = #{delFlag}        where  id = #{id}    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.usermanage.entity.GroupUserEO" >
        update ts_group_user
        <set>
        <if test="userName != null" >
            user_name = #{userName},
        </if>
        <if test="password != null" >
            password = #{password},
        </if>
        <if test="mobilephone != null" >
            mobilephone = #{mobilephone},
        </if>
        <if test="email != null" >
            email = #{email},
        </if>
        <if test="type != null" >
            type = #{type},
        </if>
        <if test="status != null" >
            status = #{status},
        </if>
        <if test="photo != null" >
            photo = #{photo},
        </if>
        <if test="realName != null" >
            real_name = #{realName},
        </if>
        <if test="sex != null" >
            sex = #{sex},
        </if>
        <if test="description != null" >
            description = #{description},
        </if>
        <if test="createdAt != null" >
            created_at = #{createdAt},
        </if>
        <if test="createdPerson != null" >
            created_person = #{createdPerson},
        </if>
        <if test="updatedAt != null" >
            updated_at = #{updatedAt},
        </if>
        <if test="updatedPerson != null" >
            updated_person = #{updatedPerson},
        </if>
        <if test="delFlag != null" >
            del_flag = #{delFlag},
        </if>
        </set>
        where id = #{id}    </update>

    <!-- 根据id查询 ts_group_user -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List" />
        from ts_group_user
        where id = #{value}
    </select>

    <!-- 删除记录 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from ts_group_user
        where id = #{value}
    </delete>

    <!-- ts_group_user 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.base.page.BasePage">
        select count(1) from ts_group_user
        <include refid="Base_Where_Like_Clause"/>
    </select>

    <!-- 查询ts_group_user列表 -->
    <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select
            <include refid="Base_Column_List" />
        from
            ts_group_user
        <include refid="Base_Where_Like_Clause"/>
        <if test="pager.orderCondition != null and pager.orderCondition != ''" >
            ${pager.orderCondition}
        </if>
        limit #{pager.pageSize} OFFSET #{pager.pageOffset}
    </select>

    <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.base.page.BasePage">
        select <include refid="Base_Column_List"/> from ts_group_user
            <include refid="Base_Where_Clause"/>
                <if test="pager.orderCondition != null and pager.orderCondition != ''" >
            ${pager.orderCondition}
        </if>
    </select>

    <select id="getUserInfoByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"/> from ts_group_user t
        WHERE t.user_name = #{value}
    </select>

    <select id="getUserInfoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select <include refid="Base_Column_List"/> from ts_user t
        WHERE t.id = #{value}
    </select>

    <select id="getUserCount" resultType="java.lang.Integer" parameterType="com.adc.da.usermanage.entity.GroupUserEO">
        select count(1) from ts_group_user t
        WHERE t.user_name = #{userName}
        and t.mobilephone = #{mobilephone}
    </select>

    <delete id="deleteGroupUserInfo">
        delete from ts_group_user
    </delete>

    <delete id="deleteGroupUserBakInfo">
        delete from ts_group_user_bak
    </delete>

    <insert id="backupGroupUserInfo">
        insert into ts_group_user_bak
        select
          id,
          user_name,
          password,
          mobilephone,
          email,
          type,
          status,
          photo,
          real_name,
          sex,
          description,
          created_at,
          created_person,
          updated_at,
          updated_person,
          del_flag
        from ts_group_user
    </insert>

</mapper>
